@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
    color: #000;
}

/* Add this to your index.css or App.css to hide the bar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}