# Dependencies
node_modules/

# Build artifacts
dist/
build/
out/
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Logs and cache
*.log
.parcel-cache
.cache
.eslintcache

# IDE
.idea/
.vscode/
*.swp
.DS_Store
